<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Credit card default prediction </h2>

    <div class="input_data">

        <form action="/predict" method="post">

            <label for="sex">Sex:</label>
            <input type="number"  name="sex" placeholder="M=0 or F=1" required>
            <br>
            <label for="sex">Education:</label>
            <input type="number"  name="education" placeholder="0,1,2,3,4" required>
            <br>
            <label for="sex">Marriage:</label>
            <input type="number"  name="marriage" placeholder="0 or 1" required>
            <br>
            <label for="sex">Age:</label>
            <input type="number"  name="age"  required>
            <br>
            <label for="sex">Limit Amount:</label>
            <input type="number"  name="limit_amount" placeholder="M=0 or F=1" required>
            <br>
            <label for="sex">Pay1:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay2:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay3:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay4:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay5:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay6:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount1:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount2:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount3:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount4:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount5:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Bill_amount6:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount1:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount2:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount3:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount4:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount5:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>
            <label for="sex">Pay_amount6:</label>
            <input type="number"  name="sex" placeholder="0 or 1" required>
            <br>

            <input type="submit" value="submit">
        

        </form>
    </div>
</body>
</html>