<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Credit card default prediction </h2>

    <div class="background">
        <img src="https://images.unsplash.com/photo-1560472355-536de3962603?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJhbmtpbmclMjBjcmVkaXQlMjBjYXJkfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" alt="">
    </div>

    <div class="input_data">

        <form action="/predict" method="post">

            <label for="sex">Sex:</label>
            <input type="number"  name="sex" placeholder="M=1 or F=2" required>
            <br>
            <label>Education:</label>
            <input type="number"  name="education" placeholder="1,2,3,4" required>
            <br>
            <label>Marriage:</label>
            <input type="number"  name="marriage" placeholder="1,2...." required>
            <br>
            <label>Age:</label>
            <input type="number"  name="age"  required>
            <br>
            <label>Limit Amount:</label>
            <input type="number"  name="limit_amount"  required>
            <br>
            <label>Pay1:</label>
            <input type="number"  name="pay_1" required>
            <br>
            <label>Pay2:</label>
            <input type="number"  name="pay_2"  required>
            <br>
            <label>Pay3:</label>
            <input type="number"  name="pay_3" required>
            <br>
            <label>Pay4:</label>
            <input type="number"  name="pay_4"  required>
            <br>
            <label>Pay5:</label>
            <input type="number"  name="pay_5"  required>
            <br>
            <label>Pay6:</label>
            <input type="number"  name="pay_6"   required>
            <br>
            <label>Bill_amount1:</label>
            <input type="number"  name="bill_amount1"  required>
            <br>
            <label>Bill_amount2:</label>
            <input type="number"  name="bill_amount2"  required>
            <br>
            <label>Bill_amount3:</label>
            <input type="number"  name="bill_amount3"  required>
            <br>
            <label>Bill_amount4:</label>
            <input type="number"  name="bill_amount4"  required>
            <br>
            <label>Bill_amount5:</label>
            <input type="number"  name="bill_amount5"  required>
            <br>
            <label>Bill_amount6:</label>
            <input type="number"  name="bill_amount6"  required>
            <br>
            <label>Pay_amount1:</label>
            <input type="number"  name="pay_amount1"  required>
            <br>
            <label>Pay_amount2:</label>
            <input type="number"  name="pay_amount2"  required>
            <br>
            <label>Pay_amount3:</label>
            <input type="number"  name="pay_amount3"  required>
            <br>
            <label>Pay_amount4:</label>
            <input type="number"  name="pay_amount4"  required>
            <br>
            <label>Pay_amount5:</label>
            <input type="number"  name="pay_amount5"  required>
            <br>
            <label>Pay_amount6:</label>
            <input type="number"  name="pay_amount6"  required>
            <br>
            <div class="submit">
                <input type="submit" value="submit">
            </div>


        

        </form>
    </div>
</body>
</html>